janis-pipelines.bioinformatics @ git+https://github.com/PMCC-BioinformaticsCore/janis-bioinformatics
janis-pipelines.core @ git+https://github.com/GraceAHall/janis-core@release-v0.13.0
janis-pipelines.unix @ git+https://github.com/PMCC-BioinformaticsCore/janis-unix
janis-pipelines.templates >= 0.11.0
ruamel.yaml >= 0.12.4, <= 0.16.5
progressbar2
path
black
pre-commit
requests
python-dateutil
tabulate
cwltool
cwl-utils==0.15
blessed
